:root {
  --headerBackground: #141419;
  --homeBackground: #191920;
  --redButton: #F8375D;
  --itemDescriptionGray: #333333;
  --totalPriceGray: #999999;
  --quantityTextGray: #666666;
  --quantityOutlineGray: #DDDDDD;
  --quantityBackground: #EEEEEE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
